.DS_Store
*.swp
env/
node_modules/
dist

# WebStorm
.idea/

# Emacs
*~

# code coverage
coverage/*
.nyc_output/

package-lock.json
/yarn.lock
/.eslintrc.json.tpl
/.browserslistrc
/.nvmrc
/tests/~tempFile.tmp
